<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbit CategoryManagement</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    
    <style>

        #category{
            background-color: #333;
            border-radius: 5px;
            padding: 10px;
            color: white;
        }

        .add-category-container {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 5px;
        }

        .add-category {
            padding: 10px 20px;
            background-color: #15605bd5;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .add-category:hover{
            background-color: #15605B;
        }

        .table-container {
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table th, table td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }

        table th {
            background-color: #f2f2f2;
        }

        .edit-category {
            width: 70%;
            height: 40px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            padding: 5px;
            color: #ffffff;
            background-color: #007BFF;
        }

        #delete {
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            padding: 5px;
            color: #ffffff;
            background-color: red;
        }
        #delete:hover,
        .edit-category:hover{
            background-color: #ffffff41;
            color: #000000;
        }
        
        #unblock {
            width: 70%;
            height: 40px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            padding: 5px;
            background-color:  #00ff00;
        }

        #block {
            width: 70%;
            height: 40px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            padding: 5px;
            color: #ffffff;
            background-color:  red;
        }

        #block:hover,#unblock:hover{
            background-color: #ffffff41;
            color: #000000;
        }

        /* Modal styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.6);
        }
        
        #imageCropModal{
            z-index: 2000;
        }

        .modal-content {
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            border-radius: 10px;
            margin: 100px auto;
        }

        .close, .close-crop {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus,
        .close-crop:hover,
        .close-crop:focus {
            color: black;
            text-decoration: none;
        }

        .modal-content h2 {
            margin-top: 0;
        }

        .modal-content form {
            display: flex;
            flex-direction: column;
        }

        .modal-content form label {
            margin: 10px 0 5px;
        }

        .modal-content form input,
        .modal-content form select {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .modal-content form button {
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .image-preview-container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
        }

        .image-preview {
            position: relative;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .image-preview img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 5px;
        }

        .image-preview .close-preview {
            position: absolute;
            top: 0;
            right: 0;
            background-color: red;
            color: white;
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .crp-btn{
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: end;
        }

    </style>

</head>
<body>
    
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <span>Orbit</span>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="/admin/getdashboard"><i class="fas fa-th-large"></i> Dashboard</a></li>
                    <li><a href="/admin/users"><i class="fas fa-users"></i> User Management</a></li>
                    <li><a href="/admin/getproduct"><i class="fas fa-box"></i> Product Management</a></li>
                    <li><a id="category" class="active" href="/admin/getcategory"><i class="fa-solid fa-list"></i> Category Management</a></li>
                    <li><a href="/admin/getorder"><i class="fas fa-shopping-cart"></i> Order Management</a></li>
                    <li><a href="/admin/getoffer"><i class="fa-solid fa-tag"></i> Offer Module</a></li>
                    <li><a href="/admin/getcoupon"><i class="fa-solid fa-ticket"></i> Coupon Management</a></li>
                    <li><a href="/admin/getreport"><i class="fas fa-chart-bar"></i>Sales Report</a></li>
                </ul>
            </nav>
            <form action="/admin/logout" method="POST">
                <button type="submit" class="logout">Log Out</button>
            </form>
        </aside>
        <main class="main-content">
            <header class="header">
                <h1>Category Management</h1>
            </header>
            <div class="add-category-container">
                <a href="/admin/Addcategory"><button class="add-category">+ Add category</button></a>
            </div><br><br><br>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Category No.</th>
                            <th>Category Name</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% category.forEach((category, index) => { %>
                        <tr>
                          <td><%= (currentPage - 1) * itemsPerPage + index + 1 %></td>
                          <td><%= category.categoryName %></td>
                          <td><%= category.description %></td>
                          <td>
                            <img src="<%= category.categoryImage[0] %>" alt="image" style="width: 100px; height: 100px;">
                          </td>
                          <td>
                           <a href="/admin/Editcategory/<%= category.id %>"><button class="edit-category" id="editCategoryBtn" style="margin-bottom: 5px;">Edit</button></a>

                            <% if (category.isBlocked) { %>
                                <form action="/admin/unblockcategory/<%= category._id %>" method="POST">
                                    <button type="submit" id="unblock" class="action-btn unblock">Unblock</button>
                                </form>
                            <% } else { %>
                                <form action="/admin/blockcategory/<%= category._id %>" method="POST">
                                    <button type="submit" id="block" class="action-btn block">Soft delete</button>
                                </form>
                            <% } %>
                            
                          </td>
                        </tr>
                        <% }) %>
                      </tbody>                      
                </table>
            </div>
            <div class="pagination">
                <!-- Previous Arrow -->
                <% if (currentPage > 1) { %>
                    <a href="?page=<%= currentPage - 1 %>" class="arrow-btn">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                <% } else { %>
                    <span class="arrow-btn disabled">
                        <i class="fa-solid fa-arrow-left"></i>
                    </span>
                <% } %>
            
                <!-- Next Arrow -->
                <% if (currentPage < totalPages) { %>
                    <a href="?page=<%= currentPage + 1 %>" class="arrow-btn">
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                <% } else { %>
                    <span class="arrow-btn disabled">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                <% } %>
            </div>
            
        </main>
    </div>

</body>
</html>
