    
    <%- include('../partials/header') %>

    <style>
        
        .profile-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 1.5rem;
        }

        .wrapper {
            display: flex;
        }

        .p_sidebar {
            margin-left: -80px;
            width: 280px;
            padding: 1rem;
            background-color: #ffffff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            height: 100vh;
        }

        .profile {
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .profile-img {
            background-color: #e2e2e2;
            overflow: hidden;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            margin-bottom: 0.5rem;
            border: 1px solid rgba(0, 0, 0, 0.075);
        }

        .profile-name {
            font-size: 1.125rem;
            font-weight: 600;
        }

        .highlight {
            color: #db710e;
        }

        .nav-links {
            padding-top: 0.625rem;
        }

        .nav-links form button {
            border: none;
            background-color: #ffffff;
        }

        .nav-link {
            display: flex;
            align-items: center;
            font-size: 1.125rem;
            color: #000000;
            text-decoration: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.192);
            padding: 0.625rem;
            width: 200px;
        }

        .nav-link i{
            padding-right: 10px;
            padding-bottom: 2px;
        }

        .nav-link:hover {
            color: blue;
        }

        .nav-link.active {
            color: white;
            background-color: #000000;
            border-radius: 5px;
        }

        .main-content {
            width: 100%;
            padding: 2rem;
            background-color: #ffffff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            margin-left: 1rem;
        }

        .page-title {
            font-size: 1.5rem;
            font-weight: 700;
        }

        .profile-form {
            width: 700px;
            margin-left: 50px;
            background-color: #fff;
            padding: 30px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
        }

        .profile-form h2 {
            font-size: 20px;
            color: #1a1a1a;
            margin-bottom: 20px;
        }

        .form-group {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            width: 48%;
        }

        .input-container label {
            margin-bottom: 5px;
            font-size: 14px;
            color: #333;
        }

        .input-container input {
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .form-actions {
            display: flex;
            justify-content: flex-end;
            margin-top: 40px;
        }

        .btn-cancel {
            background-color: #f0f0f0;
            color: #333;
            padding: 10px 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 10px;
            cursor: pointer;
        }

        .btn-save {
            background-color: #6b46c1;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-cancel:hover, .btn-save:hover {
            opacity: 0.8;
        }

    </style>
    
    <div class="profile-container">
        <div class="wrapper">

            <div class="p_sidebar">
                <div class="profile">
                    <div class="profile-img"> <img src="/images/dp.jpg" alt=""></div>
                    
                    <p class="profile-name">Hello, <span class="highlight"><%= user.firstname %></span></p>
                </div>
                <div class="nav-links">
                    <a href="/userprofile" class="nav-link active">
                        <i class="fa-solid fa-user"></i>
                        <span>My Profile</span>
                    </a>
                    <a href="/userorders" class="nav-link">
                        <i class="fas fa-shopping-bag"></i>
                        <span>My Orders</span>
                    </a>
                    <a href="/useraddress" class="nav-link">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>My Address</span>
                    </a>
                    <a href="/userwishlist" class="nav-link">
                        <i class="fa-solid fa-heart"></i>
                        <span>Wish List</span>
                    </a>
                    <a href="/userwallet" class="nav-link">
                        <i class="fas fa-wallet"></i>
                        <span>Wallet</span>
                    </a>
                    <a href="/usercoupon" class="nav-link">
                        <i class="fa-solid fa-ticket"></i>
                        <span>Coupon</span>
                    </a>
                    <form action="/userlogout" method="POST">
                        <button type="submit" class="nav-link">
                          <i class="fas fa-power-off"></i>
                          <span>Logout</span>
                        </button>
                    </form>
                </div>
            </div>

            <div class="main-content">
                <h1 class="page-title">Manage Profile</h1>
                <div class="profile-form">
                  <h2>Edit Your Profile</h2>
                  <form action="/editprofile/<%= user._id %>" method="POST">
                    <div class="form-group">
                      <div class="input-container">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstname" value="<%= user.firstname %>">
                      </div>
                      <div class="input-container">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastname" value="<%= user.lastname %>">
                      </div>
                    </div>
                    <div class="form-group">
                        <div class="input-container">
                          <label for="email">Email Address</label>
                          <input type="email" id="email" name="email" value="<%= user.email %>" disabled>
                        </div>
                      </div>
                    <div class="form-actions">
                      <button type="button" class="btn-cancel" id="cancelButton">Cancel</button>
                      <button type="submit" class="btn-save">Save Changes</button>
                    </div>
                  </form>
                </div>
            </div>  
        </div>
    </div>

    <script>

        document.getElementById('cancelButton').addEventListener('click', function(){
            window.location.href = '/userprofile';
        });

    </script>

    <%- include('../partials/footer') %>
