    
    <%- include('../partials/header') %>

    <style>
        
        .profile-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 1.5rem;
        }

        .wrapper {
            display: flex;
        }

        .p_sidebar {
            margin-left: -80px;
            width: 280px;
            padding: 1rem;
            background-color: #ffffff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            height: 100vh;
        }

        .profile {
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .profile-img {
            background-color: #e2e2e2;
            overflow: hidden;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            margin-bottom: 0.5rem;
            border: 1px solid rgba(0, 0, 0, 0.075);
        }

        .profile-name {
            font-size: 1.125rem;
            font-weight: 600;
        }

        .highlight {
            color: #db710e;
        }

        .nav-links {
            padding-top: 0.625rem;
        }
        
        .nav-links form button {
            border: none;
            background-color: #ffffff;
        }

        .nav-link {
            display: flex;
            align-items: center;
            font-size: 1.125rem;
            color: #000000;
            text-decoration: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.192);
            padding: 0.625rem;
            width: 200px;
        }

        .nav-link i{
            padding-right: 10px;
            padding-bottom: 2px;
        }

        .nav-link:hover {
            color: blue;
        }

        .nav-link.active {
            color: white;
            background-color: #000000;
            border-radius: 5px;
        }

        .main-content {
            width: 100%;
            padding: 2rem;
            background-color: #ffffff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            margin-left: 1rem;
        }

        .page-title {
            font-size: 1.5rem;
            font-weight: 700;
        }

        .referral-code{
            margin-left: 59%;
            transform: translateY(-60px);
            font-weight: 600;
        }

        .copy-button {
            margin-left: 10px;
            color: #212529;
            border: 1px solid;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }

        .copy-button:hover {
            background-color: #a19f9f6e;
        }

        .copy-message {
            margin-left: 10px;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            color: green;
            font-weight: bold;
        }

        .profile-form {
            width: 700px;
            margin-left: 50px;
            background-color: #fff;
            padding: 30px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
        }

        .profile-form h2 {
            font-size: 20px;
            color: #1a1a1a;
            margin-bottom: 20px;
        }

        .form-group {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            width: 48%;
        }

        .input-container label {
            margin-bottom: 5px;
            font-size: 16px;
            color: #333;
        }

        .input-container input {
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .email-container {
            display: flex;
            flex-direction: column;
            width: 48%;
        }

        .email-container label {
            margin-bottom: 5px;
            font-size: 16px;
            color: #000000;
        }

        .email-container input {
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .email-container .edit-form{
            transform: translate(40px,60px);
        }

        .password-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .password-container input {
            flex: 1;
            margin-right: 10px;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .change-password {
            color: #2a0ab9;
            font-size: 14px;
            font-weight: 800;
            text-decoration: none;
        }

        .change-password:hover {
            text-decoration: underline;
        }
        
        .edit-form {
            color: #2a0ab9;
            font-size: 14px;
            font-weight: 800;
            text-decoration: none;
            margin-left: 93%;
        }

        .edit-form:hover {
            text-decoration: underline;
        }

    </style>
    
    <div class="profile-container">
        <div class="wrapper">

            <div class="p_sidebar">
                <div class="profile">
                    <div class="profile-img"> <img src="/images/dp.jpg" alt=""></div>
                    
                    <p class="profile-name">Hello, <span class="highlight"><%= user.firstname %></span></p>
                </div>
                <div class="nav-links">
                    <a href="/userprofile" class="nav-link active">
                        <i class="fa-solid fa-user"></i>
                        <span>My Profile</span>
                    </a>
                    <a href="/userorders" class="nav-link">
                        <i class="fas fa-shopping-bag"></i>
                        <span>My Orders</span>
                    </a>
                    <a href="/useraddress" class="nav-link">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>My Address</span>
                    </a>
                    <a href="/userwishlist" class="nav-link">
                        <i class="fa-solid fa-heart"></i>
                        <span>Wish List</span>
                    </a>
                    <a href="/userwallet" class="nav-link">
                        <i class="fas fa-wallet"></i>
                        <span>Wallet</span>
                    </a>
                    <a href="/usercoupon" class="nav-link">
                        <i class="fa-solid fa-ticket"></i>
                        <span>Coupon</span>
                    </a>
                    <form action="/userlogout" method="POST">
                        <button type="submit" class="nav-link">
                          <i class="fas fa-power-off"></i>
                          <span>Logout</span>
                        </button>
                    </form>                      
                </div>
            </div>

            <div class="main-content">
                <h1 class="page-title">Manage Profile</h1>
                <div class="referral-code">
                    <p>
                        Referral Code: <%= user.referralCode ? user.referralCode : 'No referral code generated' %>
                        <% if (user.referralCode) { %>
                            <button onclick="copyReferralCode()" class="copy-button"><i class="fa-solid fa-copy fa-bounce"></i></button>
                            <span id="copyMessage" class="copy-message"></span>
                        <% } %>
                    </p>
                </div>
                <div class="profile-form">
                    <a href="/userprofile/edit" class="edit-form">Edit</a>
                    
                    <% if (successMessage) { %>
                        <p style="color: rgb(14, 223, 14); font-weight: 700; font-size: 20px;"><%= successMessage %></p>
                    <% } %>
                    
                    <h2>My Profile</h2>
                    <form>
                        <div class="form-group">
                        <div class="input-container">
                            <label for="firstName">First Name</label>
                            <input type="text" id="firstName" name="firstname" value="<%= user.firstname %>" disabled>
                        </div>
                        <div class="input-container">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" name="lastname" value="<%= user.lastname %>" disabled>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="email-container">
                            <!-- <a href="editEmail" class="edit-form">Edit</a> -->
                            <label for="email">Email Address</label>
                            <input type="email" id="email" name="email" value="<%= user.email %>" disabled>
                        </div>
                        </div>
                        <div class="form-group full-width" style="display: block;">
                        <label for="password">Password Changes</label>
                        <div class="password-container">
                            <input type="password" id="password" placeholder="************" disabled>
                            <a href="/changepassword" id="forgot" class="change-password">Change</a>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

        // copy referral code
        function copyReferralCode() {
            const referralCode = "<%= user.referralCode %>";
            const textarea = document.createElement("textarea");
            textarea.value = referralCode;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);

            const copyMessage = document.getElementById("copyMessage");
            copyMessage.textContent = "Copied!";

            copyMessage.style.border = "1px solid black";

            setTimeout(() => {
                copyMessage.textContent = "";
                copyMessage.style.border = "";
            }, 1500);
        }

    </script>

    <%- include('../partials/footer') %>
